ServerName {{ apache_servername.stdout }}
<VirtualHost *:80>
	ServerAdmin webmaster@{{ apache_servername.stdout }}
	ServerAlias *.*.{{ apache_servername.stdout }}

	VirtualDocumentRoot {{ apache_virtual_docroot }}

	<Directory {{ apache_directory }}>
		Options Indexes FollowSymLinks MultiViews
		AllowOverride All
		Order allow,deny
		allow from all
	</Directory>

</VirtualHost>
