////////////////////////
// Extendables Partials
//
// All of your extendable classes, ids, and placeholder extendables
//   should go in this file.
////////////////////////

.clearfix {
  &:before,
  &:after {
    display: table;
    content: "";
  }

  &:after {
    clear: both;
  }
}

#tw-form {
  margin: 0 auto;
  max-width: 550px;
  padding: $base-line-height;
  hr {
    border-top: 1px solid $mediumGray;
    margin: 2em inherit;
  }
}

#tw-form-field {
  margin-bottom: $base-line-height/2;
  text-align: right;
  font-size: $h4-font-size;
  font-family: $opensans;
  span {
    vertical-align: top;
    display: inline-block;
    padding-top: 10px;
  }

  .required,
  &.required {
    textarea,
    input:not([type=submit]):not([type=file]) {
      border-color: $red;
      background: $whiteRed;
      box-shadow: none;
    }
  }

  &.invalid {
    color: $red;

    input {
      border-color: $red;
      background: $whiteRed;
      box-shadow: none;
    }

    .errors {
      // This matches the form field widths, I haven't figured out
      // why they're locked to this yet...
      max-width: 328px;

      float: right;
      margin-top: 1em;
      text-align: left;
    }
  }
}

#flexi-form-field {
  textarea,
  input:not([type=submit]):not([type=file]) {
    min-width: 228px;
    @include transition(all .4s ease-in-out);

    &:focus {
      width: 100%;
    }
  }
}


