settings.yml
controller/vendor
controller/web/development.log
controller/web/.sass-cache
controller/log/*.log
ec2-build/ec2-hostname
sentinel/.forever
sentinel/node_modules
vagrant/.vagrant
vagrant/setup.local.sh
vagrant/*.local.yml
