////////////////////////
// Course Form
//
// Form used when Adding a new course
//
////////////////////////

#course-form {
  @extend #tw-form;

  #course-form-nav {
    list-style: none;

    .course-form-nav-item {
      float: left;
      padding: 0.5em;
      border: 1px solid $black;
      border-right: none;
      font-size: $base-font-size * 0.75;
      font-weight: bold;

      &.last {
        border-right: 1px solid $black;
      }

      &.active {
        background-color: $yellow;
      }
    }
  }

  .course-section {
    width: 100%;
    float: left;
    margin-right: -100%;
    display: none;

    &.active {
      display: block;
    }

    .course-form-title {
      padding-bottom: 25px;
      padding-left: 25px;
      font-family: $opensans;
      font-weight: 600;
      font-size: $h2-font-size;
    }
    .course-fields {
      .field {
        @extend #tw-form-field;
      }
    }
  }

  #course-form-add-plugins {
    #bundles-list {
      @extend .clearfix;
      list-style: none;
      li {
        @include button-make($lightGray);
        @include span-columns(4);
        cursor: pointer;

        &.bundle.selected {
          @include button-make($yellow);
        }

        // 9n, wut? Well, turns out ember is inserting script
        // tags between the list elements so nth-child doesn't
        // work as expected. There are two script tags for every
        // list element, so three tags total for each list,
        // ∴ 3n * 3 = 9n.
        &:nth-child(9n) {
          @include span-columns(4 omega);
        }
      }
    }
    #plugins-list {
      @extend .clearfix;
      list-style: none;
      li {
        @include button-make($lightGray);
        @include span-columns(4);
        cursor: pointer;

        &.plugin.selected {
          @include button-make($yellow);
        }

        // 9n, wut? Well, turns out ember is inserting script
        // tags between the list elements so nth-child doesn't
        // work as expected. There are two script tags for every
        // list element, so three tags total for each list,
        // ∴ 3n * 3 = 9n.
        &:nth-child(9n) {
          @include span-columns(4 omega);
        }
      }
    }
  }

  .course-tools {
    padding-bottom: 2em;
    button {
      margin-bottom: $base-line-height/2;

      &.previous {
        float: left;
      }
      &.next {
        float: right;
      }
    }
  }
}
