////////////////////////
// Design Partials
//
// Seperate your layout from design, building sub folders and partials
//  in this folder, with everything being imported, in casading order,
//  into this file.
//
// All styling, non box model properties go here
////////////////////////

@import 'animation';

body {
  background-color: #eeeeee;
}

.yellow-btn {
  @include button-make($yellow);
  padding: $base-line-height / 2 $base-line-height /2;
  font-size: 20px;
}

a {
  color: darkGray;
  text-decoration: none;
  &:hover, &.hover {
    color: $mediumGray;
    text-decoration: none;
  }
}

dt {
  width: 200px;
  display: inline-block;
  vertical-align: top;
}

dd {
  margin: 0;
  display: inline-block;
  width: 66%;
}

dt, dd {
  border-top: solid 1px #DDD;
  padding-bottom: 5px;
  padding-top: 5px;
}

//Header

#top-header {
  @include gradient(darken($darkGray, 0%), darken($darkGray, 10%));
  background: url(../images/dark-noise.png) repeat;
}

#top-rule {
  @include gradient(saturate($yellow, 10%), darken($yellow, 20%));
}

.logo {
  font-size: $base-font-size * 2;
  color: $white;
  text-decoration: none;
  font-family: $bebas;
  &:hover {
    color: $yellow;
  }
}

//Footer

#footer {
  background: url(../images/az_subtle.png) repeat;
  color: $darkGray;
  padding:$base-line-height;
  font-size: 12px;
  a {
    color: $darkGray;
    &:hover {
      color: $yellowDark;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    li {
      display: inline;
    }
  }
}

//Misc

.tw-loading {
  background: url(../images/loading.gif) no-repeat;
  height: 31px;
  width: 31px;
  margin-left: auto;
  margin-right: auto;
}

//User Listing

#course-info {
  a {
    color: $darkGray;
    font-size: 38px;
  }
  .refresh-button {
    @include button-make($lightGray);
    font-size: $base-font-size * 2;
    line-height: 32px;
    padding: 10px 8px 2px 6px;
  }
  .course-lock {
      font-size: 16px;
      &.hover, &:hover {
      color: $yellowDark;
      }
    .course-lock-text{
    }
  }
}

#course-users, #course-instructor {
  .user-selected {
    background-color: $whiteGray;
  }
  #course-users-bottom-tools {
    .ember-text-field {
      font-size: 20px;
      padding-left: 10px;
      color: $darkGray;
    }
  }
}

.user-info {
  h3 {
    .user-name {
      font-size: 18px;
      color: $darkGray;
      &:hover {
        color:$mediumGray;
      }
    }
  }
  .indicators-summary-users {
    .resource-ready {
      color: $darkGray;
    }
    .resource-missing {
      color: $red;
    }
    .logged_out {
      color: $mediumGray;
    }
  }
  .ss-icon {
    font-size: 14px;
    color: $darkGray;
  }
}

.resource-info {
  h4 {
    display: inline;
  }
  .indicators-summary-users {
    .resource-ready {
      color: $darkGray;
    }
    .resource-missing {
      color: $red;
    }
  }
}

//Course Form

#course-form {
  #course-form-title {
    font-family: $opensans;
    font-weight: 600;
    font-size: $h2-font-size;
  }
  #course-fields {
    .field {
      text-align: right;
      font-size: $h4-font-size;
      font-family: $opensans;
      span {
        vertical-align: top;
        display: inline-block;
        padding-top: 10px;
      }
    }
  }
  hr {
  border-top: 1px solid $mediumGray;
  margin: 2em inherit;
  }
}

//Default Input Fields

.ember-text-field, .ember-text-area {
  @include border-radius(4px);
  font-size: $h4-font-size;
  font-family: $opensans;
  padding: $base-line-height/4 $base-line-height/3;
  color: $darkGray;
  margin-left: 5px;
  border: 1px solid $mediumGray;
  background-color: $lightGray;
  box-shadow: 0px 0px 0px rgb(0, 0, 0), 0px 3px 3px rgb(238, 238, 238) inset;
    &:hover {
      border: 1px solid $Gray;
    }
    &:focus {
      border: 1px solid $Gray;
      background-color: $whiteGray;
      outline: medium none;
      &:hover {
        border: 1px solid $Gray;
      }
    }
}

//Default Submit / Cancel Buttons

.submit {
      @include button-make($yellow);
      padding: $base-line-height / 2 $base-line-height /2;
      font-size: 16px;
      margin: 0 0 0 auto;
      width: 150px;
      display: block;
    }
.cancel {
      //@include button-make($lightGray);
      padding: $base-line-height / 2 $base-line-height /2;
      font-size: 16px;
      margin: 0 auto 0 0;
      //width: 150px;
      display: block;
}

// Alertify

/**
 * Default Look and Feel
 */
.alertify,
.alertify-log {
  font-family: $opensans;
}
.alertify {
	background: $white;
	border: none; /* browsers that don't support rgba */
	border-radius: 7px;
	box-shadow: 0 3px 3px rgba(0,0,0,.3);
	-webkit-background-clip: padding;     /* Safari 4? Chrome 6? */
	   -moz-background-clip: padding;     /* Firefox 3.6 */
	        background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
}
.alertify-text {
	border: none;
	padding: 10px;
	border-radius: 4px;
}
.alertify-button {
  @include button-make($yellow);
  padding: $base-line-height / 2 $base-line-height /2;
  font-size: 16px;
  width: 50px;
  text-shadow: none;
}
.alertify-button:hover,
.alertify-button:focus {
	background-image: none;
	color: $darkGray;
}
.alertify-button:active {
	position: relative;
	top: 1px;
}
.alertify-button-cancel {
  @include button-make($mediumGray);
  padding: $base-line-height / 2 $base-line-height /2;
  font-size: 16px;
  width: 50px;
}
.alertify-button-ok {
  @include button-make($yellow);
  padding: $base-line-height / 2 $base-line-height /2;
  font-size: 16px;
  width: 50px;
}
.alertify-log {
	background: $yellow;
	padding: 15px;
	border-radius: 7px;
	color: $darkGray;
	text-shadow: -1px -1px 0 rgba(0,0,0,0);
}
.alertify-log-error {
	background: $darkGray;
	color: $white;
}
.alertify-log-success {
	background: $yellow;
}

///////////////////
// Syncing buttons.
///////////////////
@include keyframes(rotate) {
  from {
    @include rotate(0deg);
  }
  to {
    @include rotate(360deg);
  }
}
.syncing {
  display: inline-block;
  @include animation(rotate 1s linear infinite);
}
