////////////////////////
// Design Partials
//
// Seperate your layout from design, building sub folders and partials
//  in this folder, with everything being imported, in casading order,
//  into this file.
//
// All styling, non box model properties go here
////////////////////////

body {
  background-color: #eeeeee;
}

//Header

#top-header {
  background: $darkGray;
}

#logo {
  background: url(../images/tw-logo-header.svg) no-repeat;
  font-size: $base-font-size * 2;
  color: $yellow;
  text-decoration: none;
  font-family: $bebas;
  &:hover {
    color: $yellowDark;
  }
}

.course-view {
  background-color: $white;
}

//Footer

#footer {
  background: $white;
  color: $mediumGray;
  padding:$base-line-height;
  ul {
    list-style-type: none;
    margin: 0;
  }
}
