////////////////////////
// Design Partials
//
// Seperate your layout from design, building sub folders and partials
//  in this folder, with everything being imported, in casading order,
//  into this file.
//
// All styling, non box model properties go here
////////////////////////

body {
  background-color: #eeeeee;
}

.yellow-btn {
  @include button-make($yellow);
  padding: $base-line-height / 2 $base-line-height /2;
  font-size: 20px;  
}

a {
  color: darkGray;
  text-decoration: none;
  &:hover, &.hover {
    color: $mediumGray;
    text-decoration: none;
  }
}

dt {
  width: 200px;
  display: inline-block;
  vertical-align: top;
}

dd {
  margin: 0;
  display: inline-block;
  width: 66%;
}

dt, dd {
  border-top: solid 1px #DDD;
  padding-bottom: 5px;
  padding-top: 5px;
}

//Header

#top-header {
  @include gradient(saturate($yellow, 10%), darken($yellow, 15%));
}

#logo {
  background: url(../images/tw-logo-header.svg) no-repeat;
  font-size: $base-font-size * 2;
  color: $darkGray;
  text-decoration: none;
  font-family: $bebas;
  &:hover {
    color: $yellowDark;
  }
}

//Footer

#footer {
  background: url(../images/az_subtle.png) repeat;
  color: $darkGray;
  padding:$base-line-height;
  font-size: 12px;
  a {
    color: $darkGray;
    &:hover {
      color: $yellowDark;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
  }
}

//Misc

.tw-loading {
  background: url(../images/loading.gif) no-repeat;
  height: 31px;
  width: 31px;
  margin-left: auto;
  margin-right: auto;
}

//User Listing

#course-info {
  a {
    color: $darkGray;
    font-size: 38px;
  }
  .refresh-button {
    @include button-make($lightGray);
    font-size: $base-font-size * 2;
    line-height: 32px;
    padding: 10px 8px 2px 6px;    
  }
  .course-lock {
      font-size: 16px;
      &.hover, &:hover {
      color: $yellowDark;
      }
    .course-lock-text{
    }
  }
}

#course-users {
  .user-selected {
    background-color: $whiteGray;
  }
  #course-users-bottom-tools {
    .ember-text-field {
      font-size: 20px;
      padding-left: 10px;
      color: $darkGray;
    }
  }
}

.user-info {
  h3 {
    .user-name {
      font-size: 18px;
      color: $darkGray;
      &:hover {
        color:$mediumGray;
      }
    }
  }
  .ss-icon {
    font-size: 14px;
    color: $darkGray;
  }
}

//Course Form

#course-form {
  margin: 0 auto;
  max-width: 500px;
  padding: $base-line-height;
  #course-form-title {
    font-family: $opensans;
    font-weight: 600;
    font-size: $h2-font-size;
    padding-bottom: 25px;
    padding-left: 25px;
  }
  #course-fields {
    .field {
      text-align: right;
      margin-bottom: $base-line-height/2;
      font-size: $h4-font-size;
      font-family: $opensans;
      .ember-text-field {
        @include border-radius(4px);
        font-size: 20px;
        padding: $base-line-height/4 $base-line-height/3;
        color: $darkGray;
        margin-left: 5px;
        border: 1px solid $mediumGray;
        background-color: $lightGray;
        box-shadow: 0px 0px 0px rgb(0, 0, 0), 0px 3px 3px rgb(238, 238, 238) inset;
        &:hover {
          border: 1px solid $Gray;
        }
        &:focus {
          border: 1px solid $Gray;
          background-color: $whiteGray;
          outline: medium none;
          &:hover {
            border: 1px solid $Gray;
          }
        }
      }
    }
  }
  #course-tools {
    button {
      @include button-make($yellow);
      padding: $base-line-height / 2 $base-line-height /2;
      font-size: 16px;
      margin: 0 0 0 auto;
      width: 150px;
      display: block;
    }
  }
}

//General Input Forms
//General Submit Buttons

