#!/bin/bash

# Variables for use in the ec2 rebuild script. Make a copy of this if you want to use it, and modify as required.

# The server type / name
SERVER='build'

# The branch that is cloned
BRANCH='master'

# The EC2 tag used.
TAG_VAL='trainingwheels-autobuild'

# The elastic IP addresses.
CONTROLLER_IP_ADDRESS='0.0.0.0'
CLASSROOM_IP_ADDRESS='0.0.0.0'

# Passwords
MONGO_ROOT_PASSWORD=''
MONGO_APP_PASSWORD=''
APP_PASSWORD=''
