*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img, video {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "BebasNeueRegular";
  src: url(/fonts/bebas-neue/BebasNeue-webfont.woff) format('woff'), url(/fonts/bebas-neue/BebasNeue-webfont.ttf) format('truetype'), url(/fonts/bebas-neue/BebasNeue-webfont.eot) format('embedded-opentype'), url(/fonts/bebas-neue/BebasNeue-webfont.svg) format('svg');
}

body {
  margin: 0;
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #4a4545;
  background-color: white;
}

p {
  margin-top: 0;
  margin-bottom: 1.375;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  margin-top: 0;
}

h1 {
  font-size: 48px;
  line-height: 1.1;
}

h2 {
  font-size: 32px;
  line-height: 1.2em;
}

h3 {
  font-size: 23.2px;
  color: #4a4545;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 18px;
  color: #bebcba;
}

h6 {
  font-size: 32px;
}

.icon-symbolicons {
  font-size: 32px;
}

ul, ol {
  padding: 0;
  margin: 0 0 11px 25px;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

ul {
  list-style: square;
}

ol {
  list-style: decimal;
}

li {
  line-height: 22px;
}

ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

ul.menu li {
  margin: 0 .5em 0 0em;
}

/**
* Misc
*/
hr {
  margin: 22px 0;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid white;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 22px;
  border-left: 5px solid #bebcba;
}
blockquote p {
  margin-bottom: 0;
}

a {
  color: #80a6fc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

button {
  display: inline-block;
  margin-bottom: .5em;
  *display: inline;
  *zoom: 1;
  padding: 6px 6px 0 6px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
  *line-height: 20px;
  color: #4a4545;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #bfbfbf;
  background-color: #f2f2f2;
  *border: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  *margin-left: .3em;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f1f1), to(#d8d8d8));
  background: -moz-linear-gradient(top, #f3f1f1, #d8d8d8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f1f1', endColorstr='#d8d8d8');
  -webkit-box-shadow: inset 0 1px 0 0 white;
  -moz-box-shadow: inset 0 1px 0 0 white;
  box-shadow: inset 0 1px 0 0 white;
}
button:first-child {
  *margin-left: 0;
}
button:hover, button.hover, button:focus, button.focus {
  text-decoration: none;
  background-color: #d8d8d8;
  *background-color: #d8d8d8;
  /* Buttons in IE7 don't get borders, so darken on hover */
  outline: 0;
}
button:active, button.active {
  background-color: #d8d8d8;
  *background-color: #cccccc;
  /* Buttons in IE7 don't get borders, so darken on hover */
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid #cccccc;
  border-bottom: 1px solid #b2b2b2;
}

#top-rule {
  top: 0;
  width: 100%;
  min-height: 6px;
  position: relative;
  border-top: 1px solid #e5da55;
  border-bottom: 1px solid #4a4545;
}

#top-header {
  top: 0;
  width: 100%;
  min-height: 50px;
  position: relative;
  z-index: 4;
  padding-top: 15px;
  margin-bottom: 22px;
  border-bottom: 1px solid #bebcba;
}

.logo {
  padding-left: 1em;
}

#footer {
  bottom: 0;
  width: 100%;
  position: relative;
  z-index: 4;
  padding: 10px;
  margin: 22px;
  border-top: 1px solid #d9d6d6;
  border-bottom: 1px solid #d9d6d6;
}

#course-view {
  margin: 0 auto;
  max-width: 900px;
  padding: 22px;
}

#course-info {
  border-bottom: 1px solid #d9d6d6;
}
#course-info h1 {
  display: inline-block;
  padding-right: 10px;
}
#course-info .refresh-button {
  padding: 10px 8px 2px 6px;
  display: inline-block;
}
#course-info .course-lock {
  float: right;
}
#course-info .course-lock .course-lock-text {
  display: inline-block;
}
#course-info .course-lock .ss-lock {
  display: inline-block;
}

#course-users .user-tools, #course-users .resource, #course-instructor .user-tools, #course-instructor .resource {
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 22px;
}
#course-users .user-tools h4, #course-users .resource h4, #course-instructor .user-tools h4, #course-instructor .resource h4 {
  margin-bottom: 0;
}
#course-users #course-users-top-tools, #course-instructor #course-users-top-tools {
  padding-top: 3em;
  padding-bottom: 1em;
}
#course-users #course-users-top-tools .tools-right, #course-instructor #course-users-top-tools .tools-right {
  float: right;
}
#course-users #course-users-top-tools #user-view-tools .ss-rows, #course-instructor #course-users-top-tools #user-view-tools .ss-rows {
  border-radius-right: 1px;
}
#course-users #course-users-bottom-tools, #course-instructor #course-users-bottom-tools {
  border-top: 1px solid white;
  padding-top: 2em;
}
#course-users #course-users-bottom-tools .ember-text-field, #course-instructor #course-users-bottom-tools .ember-text-field {
  height: 44px;
  width: 300px;
}

.user-summary, .user-full, #course-users-top-tools {
  border-bottom: 1px solid #d9d6d6;
  border-top: 1px solid white;
}

.user-info h3 {
  margin: .5em 0;
  display: inline-block;
}
.user-info .indicators-summary-users {
  float: right;
  padding-top: 13px;
}
.user-info .indicators-summary-users .ss-folder {
  display: inline-block;
  padding-right: 12px;
}
.user-info .indicators-summary-users .ss-user {
  display: inline-block;
  padding-right: 12px;
}
.user-info .ss-icon {
  padding-left: 12px;
  padding-right: 12px;
}

.resource-info {
  display: inline;
}
.resource-info h4 {
  display: inline;
}
.resource-info .indicators-summary-users {
  float: right;
}

#course-form {
  margin: 0 auto;
  max-width: 550px;
  padding: 22px;
}
#course-form #course-form-title {
  padding-bottom: 25px;
  padding-left: 25px;
}
#course-form #course-fields .field {
  margin-bottom: 11px;
}
#course-form #course-tools button {
  margin-bottom: 11px;
}

body {
  background-color: #eeeeee;
}

.yellow-btn {
  display: inline-block;
  margin-bottom: .5em;
  *display: inline;
  *zoom: 1;
  padding: 6px 6px 0 6px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
  *line-height: 20px;
  color: #4a4545;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #b8ac1c;
  background-color: #e5da55;
  *border: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  *margin-left: .3em;
  background: -webkit-gradient(linear, left top, left bottom, from(#efe24b), to(#ded029));
  background: -moz-linear-gradient(top, #efe24b, #ded029);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efe24b', endColorstr='#ded029');
  -webkit-box-shadow: inset 0 1px 0 0 #f6f2c4;
  -moz-box-shadow: inset 0 1px 0 0 #f6f2c4;
  box-shadow: inset 0 1px 0 0 #f6f2c4;
  padding: 11px 11px;
  font-size: 20px;
}
.yellow-btn:first-child {
  *margin-left: 0;
}
.yellow-btn:hover, .yellow-btn.hover, .yellow-btn:focus, .yellow-btn.focus {
  text-decoration: none;
  background-color: #ded029;
  *background-color: #ded029;
  /* Buttons in IE7 don't get borders, so darken on hover */
  outline: 0;
}
.yellow-btn:active, .yellow-btn.active {
  background-color: #ded029;
  *background-color: #cec120;
  /* Buttons in IE7 don't get borders, so darken on hover */
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid #cec120;
  border-bottom: 1px solid #a29719;
}

a {
  color: darkGray;
  text-decoration: none;
}
a:hover, a.hover {
  color: #bebcba;
  text-decoration: none;
}

dt {
  width: 200px;
  display: inline-block;
  vertical-align: top;
}

dd {
  margin: 0;
  display: inline-block;
  width: 66%;
}

dt, dd {
  border-top: solid 1px #DDD;
  padding-bottom: 5px;
  padding-top: 5px;
}

#top-header {
  background: -webkit-gradient(linear, left top, left bottom, from(#4a4545), to(#302c2c));
  background: -moz-linear-gradient(top, #4a4545, #302c2c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a4545', endColorstr='#302c2c');
  background: url(../images/dark-noise.png) repeat;
}

#top-rule {
  background: -webkit-gradient(linear, left top, left bottom, from(#efe24b), to(#b8ac1c));
  background: -moz-linear-gradient(top, #efe24b, #b8ac1c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efe24b', endColorstr='#b8ac1c');
}

.logo {
  font-size: 32px;
  color: white;
  text-decoration: none;
  font-family: "BebasNeueRegular", helvetica, arial, sans-serif;
}
.logo:hover {
  color: #e5da55;
}

#footer {
  background: url(../images/az_subtle.png) repeat;
  color: #4a4545;
  padding: 22px;
  font-size: 12px;
}
#footer a {
  color: #4a4545;
}
#footer a:hover {
  color: #938732;
}
#footer ul {
  list-style-type: none;
  margin: 0;
}
#footer ul li {
  display: inline;
}

.tw-loading {
  background: url(../images/loading.gif) no-repeat;
  height: 31px;
  width: 31px;
  margin-left: auto;
  margin-right: auto;
}

#course-info a {
  color: #4a4545;
  font-size: 38px;
}
#course-info .refresh-button {
  display: inline-block;
  margin-bottom: .5em;
  *display: inline;
  *zoom: 1;
  padding: 6px 6px 0 6px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
  *line-height: 20px;
  color: #4a4545;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #bfbfbf;
  background-color: #f2f2f2;
  *border: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  *margin-left: .3em;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f1f1), to(#d8d8d8));
  background: -moz-linear-gradient(top, #f3f1f1, #d8d8d8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f1f1', endColorstr='#d8d8d8');
  -webkit-box-shadow: inset 0 1px 0 0 white;
  -moz-box-shadow: inset 0 1px 0 0 white;
  box-shadow: inset 0 1px 0 0 white;
  font-size: 32px;
  line-height: 32px;
  padding: 10px 8px 2px 6px;
}
#course-info .refresh-button:first-child {
  *margin-left: 0;
}
#course-info .refresh-button:hover, #course-info .refresh-button.hover, #course-info .refresh-button:focus, #course-info .refresh-button.focus {
  text-decoration: none;
  background-color: #d8d8d8;
  *background-color: #d8d8d8;
  /* Buttons in IE7 don't get borders, so darken on hover */
  outline: 0;
}
#course-info .refresh-button:active, #course-info .refresh-button.active {
  background-color: #d8d8d8;
  *background-color: #cccccc;
  /* Buttons in IE7 don't get borders, so darken on hover */
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid #cccccc;
  border-bottom: 1px solid #b2b2b2;
}
#course-info .course-lock {
  font-size: 16px;
}
#course-info .course-lock.hover, #course-info .course-lock:hover {
  color: #938732;
}

#course-users .user-selected, #course-instructor .user-selected {
  background-color: #f8f8f8;
}
#course-users #course-users-bottom-tools .ember-text-field, #course-instructor #course-users-bottom-tools .ember-text-field {
  font-size: 20px;
  padding-left: 10px;
  color: #4a4545;
}

.user-info h3 .user-name {
  font-size: 18px;
  color: #4a4545;
}
.user-info h3 .user-name:hover {
  color: #bebcba;
}
.user-info .indicators-summary-users .resource-ready {
  color: #4a4545;
}
.user-info .indicators-summary-users .resource-missing {
  color: #a30006;
}
.user-info .indicators-summary-users .logged_out {
  color: #bebcba;
}
.user-info .ss-icon {
  font-size: 14px;
  color: #4a4545;
}

.resource-info h4 {
  display: inline;
}
.resource-info .indicators-summary-users .resource-ready {
  color: #4a4545;
}
.resource-info .indicators-summary-users .resource-missing {
  color: #a30006;
}

#course-form #course-form-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 32px;
}
#course-form #course-fields .field {
  text-align: right;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}
#course-form #course-fields .field span {
  vertical-align: top;
  display: inline-block;
  padding-top: 10px;
}
#course-form hr {
  border-top: 1px solid #bebcba;
  margin: 2em inherit;
}

.ember-text-field, .ember-text-area {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  padding: 5.5px 7.33333px;
  color: #4a4545;
  margin-left: 5px;
  border: 1px solid #bebcba;
  background-color: #f2f2f2;
  box-shadow: 0px 0px 0px black, 0px 3px 3px #eeeeee inset;
}
.ember-text-field:hover, .ember-text-area:hover {
  border: 1px solid #85817d;
}
.ember-text-field:focus, .ember-text-area:focus {
  border: 1px solid #85817d;
  background-color: #f8f8f8;
  outline: medium none;
}
.ember-text-field:focus:hover, .ember-text-area:focus:hover {
  border: 1px solid #85817d;
}

.submit {
  display: inline-block;
  margin-bottom: .5em;
  *display: inline;
  *zoom: 1;
  padding: 6px 6px 0 6px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
  *line-height: 20px;
  color: #4a4545;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #b8ac1c;
  background-color: #e5da55;
  *border: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  *margin-left: .3em;
  background: -webkit-gradient(linear, left top, left bottom, from(#efe24b), to(#ded029));
  background: -moz-linear-gradient(top, #efe24b, #ded029);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efe24b', endColorstr='#ded029');
  -webkit-box-shadow: inset 0 1px 0 0 #f6f2c4;
  -moz-box-shadow: inset 0 1px 0 0 #f6f2c4;
  box-shadow: inset 0 1px 0 0 #f6f2c4;
  padding: 11px 11px;
  font-size: 16px;
  margin: 0 0 0 auto;
  width: 150px;
  display: block;
}
.submit:first-child {
  *margin-left: 0;
}
.submit:hover, .submit.hover, .submit:focus, .submit.focus {
  text-decoration: none;
  background-color: #ded029;
  *background-color: #ded029;
  /* Buttons in IE7 don't get borders, so darken on hover */
  outline: 0;
}
.submit:active, .submit.active {
  background-color: #ded029;
  *background-color: #cec120;
  /* Buttons in IE7 don't get borders, so darken on hover */
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid #cec120;
  border-bottom: 1px solid #a29719;
}

.cancel {
  padding: 11px 11px;
  font-size: 16px;
  margin: 0 auto 0 0;
  display: block;
}

/**
 * Default Look and Feel
 */
.alertify,
.alertify-log {
  font-family: "Open Sans", sans-serif;
}

.alertify {
  background: white;
  border: none;
  /* browsers that don't support rgba */
  border-radius: 7px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding;
  /* Safari 4? Chrome 6? */
  -moz-background-clip: padding;
  /* Firefox 3.6 */
  background-clip: padding-box;
  /* Firefox 4, Safari 5, Opera 10, IE 9 */
}

.alertify-text {
  border: none;
  padding: 10px;
  border-radius: 4px;
}

.alertify-button {
  display: inline-block;
  margin-bottom: .5em;
  *display: inline;
  *zoom: 1;
  padding: 6px 6px 0 6px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
  *line-height: 20px;
  color: #4a4545;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #b8ac1c;
  background-color: #e5da55;
  *border: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  *margin-left: .3em;
  background: -webkit-gradient(linear, left top, left bottom, from(#efe24b), to(#ded029));
  background: -moz-linear-gradient(top, #efe24b, #ded029);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efe24b', endColorstr='#ded029');
  -webkit-box-shadow: inset 0 1px 0 0 #f6f2c4;
  -moz-box-shadow: inset 0 1px 0 0 #f6f2c4;
  box-shadow: inset 0 1px 0 0 #f6f2c4;
  padding: 11px 11px;
  font-size: 16px;
  width: 50px;
  text-shadow: none;
}
.alertify-button:first-child {
  *margin-left: 0;
}
.alertify-button:hover, .alertify-button.hover, .alertify-button:focus, .alertify-button.focus {
  text-decoration: none;
  background-color: #ded029;
  *background-color: #ded029;
  /* Buttons in IE7 don't get borders, so darken on hover */
  outline: 0;
}
.alertify-button:active, .alertify-button.active {
  background-color: #ded029;
  *background-color: #cec120;
  /* Buttons in IE7 don't get borders, so darken on hover */
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid #cec120;
  border-bottom: 1px solid #a29719;
}

.alertify-button:hover,
.alertify-button:focus {
  background-image: none;
  color: #4a4545;
}

.alertify-button:active {
  position: relative;
  top: 1px;
}

.alertify-button-cancel {
  display: inline-block;
  margin-bottom: .5em;
  *display: inline;
  *zoom: 1;
  padding: 6px 6px 0 6px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
  *line-height: 20px;
  color: #4a4545;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #8d8985;
  background-color: #bebcba;
  *border: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  *margin-left: .3em;
  background: -webkit-gradient(linear, left top, left bottom, from(#c5bcb3), to(#a5a3a0));
  background: -moz-linear-gradient(top, #c5bcb3, #a5a3a0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c5bcb3', endColorstr='#a5a3a0');
  -webkit-box-shadow: inset 0 1px 0 0 #fcfcfc;
  -moz-box-shadow: inset 0 1px 0 0 #fcfcfc;
  box-shadow: inset 0 1px 0 0 #fcfcfc;
  padding: 11px 11px;
  font-size: 16px;
  width: 50px;
}
.alertify-button-cancel:first-child {
  *margin-left: 0;
}
.alertify-button-cancel:hover, .alertify-button-cancel.hover, .alertify-button-cancel:focus, .alertify-button-cancel.focus {
  text-decoration: none;
  background-color: #a5a3a0;
  *background-color: #a5a3a0;
  /* Buttons in IE7 don't get borders, so darken on hover */
  outline: 0;
}
.alertify-button-cancel:active, .alertify-button-cancel.active {
  background-color: #a5a3a0;
  *background-color: #999693;
  /* Buttons in IE7 don't get borders, so darken on hover */
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid #999693;
  border-bottom: 1px solid #807c79;
}

.alertify-button-ok {
  display: inline-block;
  margin-bottom: .5em;
  *display: inline;
  *zoom: 1;
  padding: 6px 6px 0 6px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
  *line-height: 20px;
  color: #4a4545;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #b8ac1c;
  background-color: #e5da55;
  *border: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  *margin-left: .3em;
  background: -webkit-gradient(linear, left top, left bottom, from(#efe24b), to(#ded029));
  background: -moz-linear-gradient(top, #efe24b, #ded029);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efe24b', endColorstr='#ded029');
  -webkit-box-shadow: inset 0 1px 0 0 #f6f2c4;
  -moz-box-shadow: inset 0 1px 0 0 #f6f2c4;
  box-shadow: inset 0 1px 0 0 #f6f2c4;
  padding: 11px 11px;
  font-size: 16px;
  width: 50px;
}
.alertify-button-ok:first-child {
  *margin-left: 0;
}
.alertify-button-ok:hover, .alertify-button-ok.hover, .alertify-button-ok:focus, .alertify-button-ok.focus {
  text-decoration: none;
  background-color: #ded029;
  *background-color: #ded029;
  /* Buttons in IE7 don't get borders, so darken on hover */
  outline: 0;
}
.alertify-button-ok:active, .alertify-button-ok.active {
  background-color: #ded029;
  *background-color: #cec120;
  /* Buttons in IE7 don't get borders, so darken on hover */
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid #cec120;
  border-bottom: 1px solid #a29719;
}

.alertify-log {
  background: #e5da55;
  padding: 15px;
  border-radius: 7px;
  color: #4a4545;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0);
}

.alertify-log-error {
  background: #4a4545;
  color: white;
}

.alertify-log-success {
  background: #e5da55;
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes rotate {
  from {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes rotate {
  from {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.syncing {
  display: inline-block;
  -webkit-animation: rotate 1s linear infinite;
  -moz-animation: rotate 1s linear infinite;
  -ms-animation: rotate 1s linear infinite;
  -o-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
}

@media print {
  *,
  *:after,
  *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  img, video {
    max-width: 100%;
    height: auto;
  }

  @font-face {
    font-family: "BebasNeueRegular";
    src: url(/fonts/bebas-neue/BebasNeue-webfont.woff) format('woff'), url(/fonts/bebas-neue/BebasNeue-webfont.ttf) format('truetype'), url(/fonts/bebas-neue/BebasNeue-webfont.eot) format('embedded-opentype'), url(/fonts/bebas-neue/BebasNeue-webfont.svg) format('svg');
}

  body {
    margin: 0;
    font-family: helvetica, arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #4a4545;
    background-color: white;
  }

  p {
    margin-top: 0;
    margin-bottom: 1.375;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    margin-top: 0;
  }

  h1 {
    font-size: 48px;
    line-height: 1.1;
  }

  h2 {
    font-size: 32px;
    line-height: 1.2em;
  }

  h3 {
    font-size: 23.2px;
    color: #4a4545;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 18px;
    color: #bebcba;
  }

  h6 {
    font-size: 32px;
  }

  .icon-symbolicons {
    font-size: 32px;
  }

  ul, ol {
    padding: 0;
    margin: 0 0 11px 25px;
  }

  ul ul,
  ul ol,
  ol ol,
  ol ul {
    margin-bottom: 0;
  }

  ul {
    list-style: square;
  }

  ol {
    list-style: decimal;
  }

  li {
    line-height: 22px;
  }

  ul.unstyled,
  ol.unstyled {
    margin-left: 0;
    list-style: none;
  }

  ul.menu li {
    margin: 0 .5em 0 0em;
  }

  /**
  * Misc
  */
  hr {
    margin: 22px 0;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid white;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 22px;
    border-left: 5px solid #bebcba;
  }
  blockquote p {
    margin-bottom: 0;
  }

  a {
    color: #80a6fc;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

  button {
    display: inline-block;
    margin-bottom: .5em;
    *display: inline;
    *zoom: 1;
    padding: 6px 6px 0 6px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    line-height: 22px;
    *line-height: 20px;
    color: #4a4545;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #bfbfbf;
    background-color: #f2f2f2;
    *border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    *margin-left: .3em;
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f1f1), to(#d8d8d8));
    background: -moz-linear-gradient(top, #f3f1f1, #d8d8d8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f1f1', endColorstr='#d8d8d8');
    -webkit-box-shadow: inset 0 1px 0 0 white;
    -moz-box-shadow: inset 0 1px 0 0 white;
    box-shadow: inset 0 1px 0 0 white;
  }
  button:first-child {
    *margin-left: 0;
  }
  button:hover, button.hover, button:focus, button.focus {
    text-decoration: none;
    background-color: #d8d8d8;
    *background-color: #d8d8d8;
    /* Buttons in IE7 don't get borders, so darken on hover */
    outline: 0;
  }
  button:active, button.active {
    background-color: #d8d8d8;
    *background-color: #cccccc;
    /* Buttons in IE7 don't get borders, so darken on hover */
    background-image: none;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    border: 1px solid #cccccc;
    border-bottom: 1px solid #b2b2b2;
  }
}
