<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Training Wheels Controller</title>
  <meta name="description" content="Training Wheels is an application for managing training environments.">
  <meta name="author" content="Four Kitchens">
  {% if debug %}
  <link href="css/alertify.css" type="text/css" rel="stylesheet" />
  <link href="dist/debug/style.css" type="text/css" rel="stylesheet" />
  <link href="fonts/ss-symbolicons-block/ss-symbolicons-block.css" type="text/css" rel="stylesheet" />
  <link href="fonts/ss-standard/ss-standard.css" type="text/css" rel="stylesheet" />
  {% else %}
  <link href="/dist/release/index.css" type="text/css" rel="stylesheet" />
  {% endif %}
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' type='text/css' rel='stylesheet' />
</head>
<body>
  {% for key, template in tpl %}
  <script type="text/x-handlebars" data-template-name="{{ key|raw }}" >
    {{ template|raw }}
  </script>
  {% endfor %}

  <script src="dist/{{ path }}/require.js"></script>

  {% for j in js %}
  <script src="{{ j|raw }}" type="text/javascript"></script>
  {% endfor %}

</body>
</html>
