<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Training Wheels Controller</title>
  <meta name="description" content="Training Wheels is an application for managing training environments.">
  <meta name="author" content="Four Kitchens">
  <link href="/css/alertify.css" type="text/css" rel="stylesheet" />
  <link href="/css/style.css" type="text/css" rel="stylesheet" />
  <link href="/fonts/ss-social/ss-social.css" rel="stylesheet" />
  <link href="/fonts/ss-symbolicons-block/ss-symbolicons-block.css" rel="stylesheet" />
  <link href="/fonts/ss-standard/ss-standard.css" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' type='text/css' rel='stylesheet' />
  <link rel="apple-touch-icon" href="touch-icon-iphone.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="touch-icon-ipad.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="touch-icon-iphone-retina.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="touch-icon-ipad-retina.png" />
</head>
<body>
  {% for key, template in tpl %}
  <script type="text/x-handlebars" data-template-name="{{ key|raw }}" >
    {{ template|raw }}
  </script>
  {% endfor %}

  {% for j in js %}
  <script src="{{ j|raw }}" type="text/javascript"></script>
  {% endfor %}

</body>
</html>
