<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Training Wheels Controller</title>
  <meta name="description" content="Training Wheels is an application for managing training environments.">
  <meta name="author" content="Four Kitchens">
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>
<body>

  {% for key, template in tpl %}
  <script type="text/x-handlebars" data-template-name="{{ key|raw }}" >
    {{ template|raw }}
  </script>
  {% endfor %}

  {% for j in js %}
  <script src="{{ j|raw }}" type="text/javascript"></script>
  {% endfor %}

</body>
</html>
