##
# Ansible playbook for setting up a Training Wheels controller on an
# Ubuntu 12.04 server that is already setup as a student server.
#

---
- hosts: all
  gather_facts: False

  vars_files:
    - settings.yml

  tasks:
    ##
    # Setup a user for nginx
    #
    - name: Create nginx group
      action: group name=nginx system=yes
      tags: common

    - name: Create a user for nginx otherwise www-data is shared with Apache
      action: user name=nginx group=nginx createhome=no system=yes
      tags: common

    ##
    # Setup a user for php-fpm
    #
    - name: Create phpfpm group
      action: group name=phpfpm system=yes
      tags: common

    - name: Create a user for phpfpm
      action: user name=phpfpm group=phpfpm createhome=yes home=/var/trainingwheels/phpfpm-home system=yes shell=/bin/false
      tags: common

    - name: Create phpfpm home
      action: file path=/var/trainingwheels/phpfpm-home state=directory owner=phpfpm group=phpfpm mode=700
      tags: common

    - name: Private tmp directory for php-fpm needed by Training Wheels
      action: file path=/var/trainingwheels/phpfpm-home/tmp state=directory owner=phpfpm group=phpfpm mode=700
      tags: common

    - name: Copy MySQL config from root so phpfpm can easily administer the database
      action: shell cp ~/.my.cnf /var/trainingwheels/phpfpm-home/.my.cnf creates=/var/trainingwheels/phpfpm-home/.my.cnf
      tags: common

    - name: Check permissions of MySQL config
      action: file path=/var/trainingwheels/phpfpm-home/.my.cnf owner=phpfpm group=phpfpm mode=600
      tags: common

    ##
    # Apt package installation of required software.
    #
    - name: Install required packages.
      action: apt pkg=$item state=installed
      tags: common
      with_items:
        - nginx
        - php5-fpm
        - php5-intl
        - unzip
        - python-mysqldb

    ##
    # Configuration for php-fpm
    #
    - name: Configure php-fpm
      action: template src=templates/etc-php5-fpm-pool-d-www-conf.j2 dest=/etc/php5/fpm/pool.d/www.conf
      tags: common

    - name: PHP configuration file php.ini for php-fpm
      action: template src=templates/etc-php5-fpm-php-ini.j2 dest=/etc/php5/fpm/php.ini
      tags: common

    - name: Sudoers file allowing the phpfpm user to administer the server
      action: copy src=files/etc-sudoers-d-phpfpm dest=/etc/sudoers.d/phpfpm mode=0440
      tags: common

    ##
    # Configuration for nginx
    #
    - name: Configure nginx
      action: template src=templates/etc-nginx-nginx-conf.j2 dest=/etc/nginx/nginx.conf
      tags: common

    - name: Remove default site
      action: file path=/etc/nginx/sites-enabled/default state=absent
      tags: common

    - name: Copy our nginx site configuration
      action: template src=templates/etc-nginx-sites-available-twcontrol.j2 dest=/etc/nginx/sites-available/twcontrol
      tags: common

    - name: Make site available
      action: file dest=/etc/nginx/sites-enabled/twcontrol state=link src=/etc/nginx/sites-available/twcontrol
      tags: common

    #####################################################################
    ##
    # Get the Training Wheels app from Github
    #
    - name: Clone the Training Wheels project
      action: git repo=https://github.com/fourkitchens/trainingwheels.git dest=/var/trainingwheels-source version=master
      tags: dev

    - name: Install Composer - create directory
      action: file path=/usr/local/bin state=directory owner=root group=root
      tags: dev

    - name: Install Composer
      action: shell curl -s https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin creates=/usr/local/bin/composer.phar
      tags: dev

    - name: Install dependencies
      action: command composer.phar install -d /var/trainingwheels-source/controller/ creates=/var/trainingwheels-source/controller/vendor
      tags: dev

    - name: Let web user write to log file directory
      action: file state=directory path=/var/trainingwheels-source/controller/log mode=0777
      tags: dev

    - name: Convenience link to Training Wheels source
      action: file state=link src=/var/trainingwheels-source dest=~/trainingwheels
      tags: dev

    #####################################################################

    ##
    # Restart services
    #
    - name: Restart nginx
      action: service name=nginx state=restarted
      tags: common

    - name: Restart php-fpm
      action: service name=php5-fpm state=restarted
      tags: common
