##
# From http://wiki.nginx.org/Symfony
#
server {
  listen 8000;

  server_name {{ nginx_server_name }};
  root {{ nginx_webroot }};

  error_log /var/log/nginx/tw-new.error.log;
  access_log /var/log/nginx/tw-new.access.log;

  # strip app.php/ prefix if it is present
  rewrite ^/app\.php/?(.*)$ /$1 permanent;

  location / {
    index app.php;
    try_files $uri @rewriteapp;
  }

  location @rewriteapp {
    rewrite ^(.*)$ /app.php/$1 last;
  }

  location ~ ^/.*\.php(/|$) {
    fastcgi_pass unix:{{ phpfpm_listen }};
    fastcgi_split_path_info ^(.+\.php)(/.*)$;
    include fastcgi_params;
    fastcgi_param  SCRIPT_FILENAME    $document_root$fastcgi_script_name;
    fastcgi_param  HTTPS              off;
  }
}
