////////////////////////
// Layout Partials
//
// Seperate your layout from design, building sub folders and partials
//  in this folder, with everything being imported, in casading order,
//  into this file.
//
// All box model properties go here
////////////////////////

//Header

#top-rule {
  top: 0;
  width: 100%;
  min-height: 6px;
  position: relative;
  border-top: 1px solid $yellow;
  border-bottom: 1px solid $darkGray;
}

#top-header {
  top: 0;
  width: 100%;
  min-height: 50px;
  position: relative;
  z-index: 4;
  padding-top: 15px;
  margin-bottom: $base-line-height;
  border-bottom: 1px solid $mediumGray;
}

.logo {
  padding-left: 1em;
}

//Footer

#footer {
  float: left;
  bottom: 0;
  width: 100%;
  position: relative;
  z-index: 4;
  padding: 10px;
  margin:$base-line-height;
  margin-left: 0;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
}

//User Listing

#course-view {
  margin: 0 auto;
  max-width: 900px;
  padding: $base-line-height;
}

#course-info {
  border-bottom: 1px solid $border;
  h1 {
    display: inline-block;
    padding-right: 10px;
  }
  .refresh-button {
    padding: 10px 8px 2px 6px;
    display: inline-block;
  }
  .course-lock {
    float: right;
    .course-lock-text{
      display: inline-block;
    }
    .ss-lock {
      display: inline-block;
    }
  }
}

#course-users, #course-instructor {
  .user-tools, .resource {
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: $base-line-height;
    h4 {
      margin-bottom: 0;
    }
  }
  #course-users-top-tools {
    @include span-columns(12);
    padding-top: 3em;
    padding-bottom: 1em;
    .tools-right {
      float: right;
    }
    #user-view-tools {
      .ss-rows {
        border-radius-right: 1px;
      }
    }
  }
  #course-users-list {
    @include span-columns(12);
  }
  #course-users-bottom-tools {
    @include span-columns(12);
    border-top: 1px solid $white;
    padding-top: 2em;
    .ember-text-field {
      height: $base-line-height * 2;
      width: 300px;
    }
  }
}

.user-summary, .user-full, #course-users-top-tools {
  border-bottom: 1px solid $border;
  border-top: 1px solid $white;
}

.user-info {
  h3 {
    margin: .5em 0;
    display: inline-block;
  }
  .indicators-summary-users {
    float:right;
    padding-top: 13px;
    .ss-folder{
      display: inline-block;
      padding-right: 12px;
    }
    .ss-user{
      display: inline-block;
      padding-right: 12px;
    }
  }
  .ss-icon {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.resource-info {
  display: inline;
  h4 {
    display: inline;
  }
  .indicators-summary-users {
    float:right;
  }
}

//Course Form

#course-form {
  margin: 0 auto;
  max-width: 550px;
  padding: $base-line-height;
  #course-form-title {
    padding-bottom: 25px;
    padding-left: 25px;
  }
  #course-fields {
    .field {
      margin-bottom: $base-line-height/2;
    }
  }
  #course-tools {
    button {
    margin-bottom: $base-line-height/2;
    }  
  }  
}

///////////////////
// Syncing buttons.
///////////////////
.sync-wrapper {
  width: 22px;
  height: 22px;
  .ss-sync {
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
  }
}
