ServerName {{ apache_servername.stdout }}
<VirtualHost *:80>
  ServerAdmin webmaster@{{ apache_servername.stdout }}
  ServerAlias *.*.{{ apache_servername.stdout }}

  VirtualDocumentRoot {{ apache_virtual_docroot }}

  <Directory {{ apache_directory }}>
    Options Indexes FollowSymLinks MultiViews
    AllowOverride All
    Order allow,deny
    allow from all
  </Directory>

  # All requests that miss an actual environment will be redirected to the
  # landing page. Drupal and other CMSs usually use .htaccess to handle 404s
  # themselves, this does not interfere with that.
  Alias /apache_errors /var/local/tw-landing
  ErrorDocument 404 /apache_errors/index.html

</VirtualHost>
